* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #F2F2F2;
}

header {
  background-color: #4A90E2;
  width: 100%;
  height: 70px;
}

.header-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  color: #FFF;
}

.perfil {
  text-align: right;
  margin-top: -25px;
  font-weight: bold;
}

.icon {
  font-size: 18px;
}

.post-list {
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
}

.card-post {
  width: 800px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 8px;
  margin-bottom: 20px;
}